<template name="data">
	 <!--{{#if isInRole 'Viewer'}}-->
          <div>
	<!--<button class="allDataShow">Show All Data</button>-->
	<input id="buttonDownload" class="btn btn-info" type="submit" value="Download as CSV">
	<!--Within the JS Alldata function in Data.js helper tempalte.-->
	
	<input type="text" class="searchbyMatch" placeholder="Team Number Ex. 1360">
	<input id="searchTeam" class="btn btn-info" type="submit" value="Search by Team">


	{{#each Alldata}}
		<div class="panel panel-success">
		 <div class="panel-heading">Team: {{team}} || Match Number: {{match}} || Alliance Station: {{station}} || Scouted By: {{scouter}}</div>

		  <!-- Table -->
		  <table class="table" id="AllDataTable">
		    <tr>
			    <th>Auto</th>
			    <th>Tele-Op</th> 
			    <th>Endgame</th>
			    <th>Rating</th>
			  
			</tr>

			<tr>
			    <td>Auto Switch Attempted: {{autoSwitchAttempted}}</td>
			    <td>Tele Vault Scored: {{teleVaultScored}}</td> 
			    <td>Endgame: {{endgame}}</td>
			    <td>Defense Rating: {{defense}}</td>
			</tr>

			<tr>
			    <td>Auto Switch Cubes: {{autoSwitchCube}}</td>
			    <td>Switch Cubes Attempted: {{SwitchCubesAttempted}}</td> 
			    <td>Tele Climb: {{teleClimb}}</td>
			  	<td>Evasion Rating: {{evasion}}</td>

			</tr>

			<tr>
			    <td>Auto Scale Attempted: {{autoScaleAttempted}}</td>
			    <td>Scale Cubes Attempted: {{ScaleCubesAttempted}}</td> 
			    <td>Tele Struggle: {{teleStruggle}}</td>
			    <td>Tele Scale Speed: {{teleScaleSpeed}}</td>

			</tr>
			<tr>
			    <td>Auto Scale Cubes: {{autoScaleScored}}</td>
			    <td>Tele Switch Scored: {{teleSwitchScored}}</td> 
			    <td></td>
			    <td>Tele Died: {{teleDied}}</td>
	
			</tr>

			<tr>
			    <td>Baseline Crossed: {{baselineCrossed}}</td>
			    <td>Tele Scale Scored: {{teleScaleScored}}</td> 
			    <td>Climb Speed: {{teleClimbSpeed}}</td>
			    <td>Qualitative: {{qualitative}}</td>

			</tr>

			
		  </table>

		</div>


	{{/each}}

	</div>
        <!--{{/if}}-->

	
</template>