<template name="matchDataInsert">

 {{#if isInRole 'Viewer'}}

    <div>
    <form>
  
    <div class="page-header">
      <p class="MatchInfo">Match Info</p>

      <form action="#0">
          <div class="spice">
             <input type="text" name="newMatchNumber" class="newMatchNumber" required placeholder="Match Number" >
          </div>
      </form>

       <form action="#0">
          <div class="spice">
             <input type="text" name="newMatchTeam" class="newMatchTeam" required placeholder="Team Number" >
          </div>
      </form>  

      
      <center> 
         <select id="newAllianceStation" class="form-control" style="max-width: 175px">
          <option value="red1">Red 1</option>
          <option value="red2">Red 2</option>
          <option value="red3">Red 3</option>
          <option value="blue1">Blue 1</option>
          <option value="blue2">Blue 2</option>
          <option value="blue3">Blue 3</option>
        </select>
      </center>
  
        <form action="#0">
            <div class="spice">
             <input type="text" name="newScouter" class="newScouter" required placeholder="New Scouter" >
            </div>
        </form>  

    </div>
         
    <!-- AUTO VALUES BEGIN-->
    <div class="page-header">
      <p class="Auto">Auto</p>

      <br>
      <h1>Auto Mobility</h1>      

        <h2>        
          <input class="radio-btn" type="radio" id="AutoRadio1-1" name="crossedBaseline" value="crossYes"><label for="AutoRadio1-1">YES</label>                       
          <input class="radio-btn" type="radio" id="AutoRadio1-2" name="crossedBaseline" value="crossNo"><label for="AutoRadio1-2">NO</label>
        </h2>
      
      <br>
    
   <!--  <div class="Unlocked"> -->
         
     {{#if baselineCrossedUnlock}}
          <h1>Switch Attempted</h1>          
          <input class="radio-btn" type="radio" id="AutoRadio2-1" name="switchAttempted" value="attemptYes"><label for="AutoRadio2-1">YES</label>
          <input class="radio-btn" type="radio" id="AutoRadio2-2" name="switchAttempted" value="attemptNo"><label for="AutoRadio2-2">NO</label><br>
                           
        {{#if switchUnlock}}
             
          <h1>Cubes scored in switch</h1>
          <input class="radio-btn" type="radio" id="AutoRadio3-1" name="autoSwitchCube" value="cubeSwitch0"><label for="AutoRadio3-1">0 CUBE</label>
          <input class="radio-btn" type="radio" id="AutoRadio3-2" name="autoSwitchCube" value="cubeSwitch1"><label for="AutoRadio3-2">1 CUBE</label>
          <input class="radio-btn" type="radio" id="AutoRadio3-3" name="autoSwitchCube" value="cubeSwitch2"><label for="AutoRadio3-3">2 CUBE</label><br>
        {{/if}}
    

      <br>
      <h1>Scale Attempted</h1>
      <input class="radio-btn" type="radio" id="AutoRadio4-1" name="scaleAttempted" value="attemptYes"><label for="AutoRadio4-1">YES</label>
      <input class="radio-btn" type="radio" id="AutoRadio4-2" name="scaleAttempted" value="attemptNo"><label for="AutoRadio4-2">NO</label><br>

        {{#if scaleUnlock}}
      
        <h1>Cubes scored in scale</h1>
        <input class="radio-btn" type="radio" id="AutoRadio5-1" name="autoScaleCube" value="cubeScale0"><label for="AutoRadio5-1">0 CUBE</label>
        <input class="radio-btn" type="radio" id="AutoRadio5-2" name="autoScaleCube" value="cubeScale1"><label for="AutoRadio5-2">1 CUBE</label>
        <input class="radio-btn" type="radio" id="AutoRadio5-3" name="autoScaleCube" value="cubeScale2"><label for="AutoRadio5-3">2 CUBE</label><br>
        {{/if}}
           
      {{/if}}
<!--     </div> -->
      <br>


    <!-- TELO OP VALUES BEGIN-->
    </div>
    <div class="page-header">
      <p class="Tele"></p>
       <div class="col-sm-12">
          <div class="well">
            <h4>Tele-Op</h4>
           </div>
      
          <div class="row">
            <div class="col-sm-4">
              <div class="well grey">
                <h2>Switch Cubes Attempted</h2>
                <div id="counter">{{SwitchCubesAttempted}}</div>

                <div class="button_group">
                  <button id="subtractSwitchCubeAttempted">- 1</button>
                  <button id="addSwitchCubeAttempted">+ 1</button>
                </div>

                <h2>Switch Cubes Scored</h2>
                <div id="counter">{{SwitchCubesScored}}</div>

                <div class="button_group">
                  <button id="subtractSwitchCube">- 1</button>
                  <button id="addSwitchCube">+ 1</button>
                </div>
                
              </div>
            </div>

           
             <div class="col-sm-4">
              <div class="well grey">
                 <h2>Scale Cubes Attempted</h2>
                <div id="counter">{{ScaleCubesAttempted}}</div>

                <div class="button_group">
                  <button id="subtractScaleCubeAttempted">- 1</button>
                  <button id="addScaleCubeAttempted">+ 1</button>
                </div>

                <h2>Scale Cubes Scored</h2>
                <div id="counter">{{ScaleCubesScored}}</div>

                <div class="button_group">
                  <button id="subtractScaleCube">- 1</button>
                 <button id="addScaleCube">+ 1</button>
                </div>
                
              </div>
            </div>

            
             <div class="col-sm-4">
              <div class="well grey">

                <h2>Vault Cubes Scored</h2>
                <div id="counter">{{VaultCubesScored}}</div>

                <div class="button_group">
                  <button id="subtractVaultCube">- 1</button>
                  <button id="addVaultCube">+ 1</button>
                </div>
            
                
              </div>
            </div>        
        </div>
      </div>
      
      <br>
      <h1>Switch Cycle</h1>
      <center>
        <radiogroupM>
          <input class="multi" type="radio" id="TeleRadio1-1" name="switchSpeed" value="switchFast"><label for="TeleRadio1-1">0-10 seconds</label>
          <input class="multi" type="radio" id="TeleRadio1-2" name="switchSpeed" value="switchMedium"><label for="TeleRadio1-2">10-20 seconds</label>
          <input class="multi" type="radio" id="TeleRadio1-3" name="switchSpeed" value="switchSlow"><label for="TeleRadio1-3">20-30 seconds</label>
          <input class="multi" type="radio" id="TeleRadio1-4" name="switchSpeed" value="switchVerySlow"><label for="TeleRadio1-4">30+ seconds</label><br>
        </radiogroupM>
      </center>
      

      <br>
      <h1>Scale Cycle</h1>
      <center>
        <radiogroupM>
            <input class="multi" type="radio" id="TeleRadio2-1" name="scaleSpeed" value="scaleFast"><label for="TeleRadio2-1">0-10 seconds</label>
            <input class="multi" type="radio" id="TeleRadio2-2" name="scaleSpeed" value="scaleMedium"><label for="TeleRadio2-2">10-20 seconds</label>
            <input class="multi" type="radio" id="TeleRadio2-3" name="scaleSpeed" value="scaleSlow"><label for="TeleRadio2-3">20-30 seconds</label>
            <input class="multi" type="radio" id="TeleRadio2-4" name="scaleSpeed" value="scaleVerySlow"><label for="TeleRadio2-4">30+ seconds</label><br>
        </radiogroupM>
      </center>

      <br>
      <h1>Endgame</h1>
      <input class="radio-btn" type="radio" id="TeleRadio9-1" name="endgame" value="parkNo"><label for="TeleRadio9-1">Not Parked</label>
      <input class="radio-btn" type="radio" id="TeleRadio9-2" name="endgame" value="parkYes"><label for="TeleRadio9-2"> Parked</label>
      <input class="radio-btn" type="radio" id="TeleRadio9-3" name="endgame" value="Climbed"><label for="TeleRadio9-3"> Climb</label>
      
<!--       <div class="Unlocked">      
 -->     
        {{#if climbUnlock}}
          <br>
          <h1>Type of climb?</h1>
          <input class="radio-btn" type="radio" id="TeleRadio3-1" name="endgame" value="climbOtherTeam"><label for="TeleRadio3-1">Lifted by Partner</label>
          <input class="radio-btn" type="radio" id="TeleRadio3-2" name="endgame" value="climbOne"><label for="TeleRadio3-2">Climbed 1 Bot</label>
          <input class="radio-btn" type="radio" id="TeleRadio3-3" name="endgame" value="climbTwo"><label for="TeleRadio3-3">Climbed 2 Bots</label>
          <input class="radio-btn" type="radio" id="TeleRadio3-4" name="endgame" value="climbThree"><label for="TeleRadio3-4">Climbed 3 Bots</label>

          <h1>Did it work?</h1>
          <input class="radio-btn" type="radio" id="TeleRadio10-1" name="climbWork" value="climbYes"><label for="TeleRadio10-1">YES</label>
          <input class="radio-btn" type="radio" id="TeleRadio10-2" name="climbWork" value="climbNo"><label for="TeleRadio10-2">NO</label>
                    
          <br>
          <h1>How long did their climb take?</h1>
          <center>
            <radiogroupM>
                <input class="multi" type="radio" id="TeleRadio5-1" name="climbSpeed" value="climbFast"><label for="TeleRadio5-1">0-10 seconds</label>
                <input class="multi" type="radio" id="TeleRadio5-2" name="climbSpeed" value="climbMedium"><label for="TeleRadio5-2">10-20 seconds</label>
                <input class="multi" type="radio" id="TeleRadio5-3" name="climbSpeed" value="climbSlow"><label for="TeleRadio5-3">20-30 seconds</label>
                <input class="multi" type="radio" id="TeleRadio5-4" name="climbSpeed" value="climbVerySlow"><label for="TeleRadio5-4">30+ seconds</label><br>
            </radiogroupM>
          </center>
         
       {{/if}}
      <!-- </div>  -->
      <h1>Did they struggle placing cubes?</h1>
     
        
            
     
        <input class="radio-btn" type="radio" id="TeleRadio4-1" name="struggle" value="struggleYesScale"><label for="TeleRadio4-1">Scale</label>
        <input class="radio-btn" type="radio" id="TeleRadio4-2" name="struggle" value="struggleYesSwitch"><label for="TeleRadio4-2">Switch</label>
        <input class="radio-btn" type="radio" id="TeleRadio4-3" name="struggle" value="struggleYesBoth"><label for="TeleRadio4-3">Both</label>
        <input class="radio-btn" type="radio" id="TeleRadio4-4" name="struggle" value="struggleNo"><label for="TeleRadio4-4">No</label>
    
      
      
      <br>

     

      <br>
      <h1>Did they die during their match?</h1>
      <input class="radio-btn" type="radio" id="TeleRadio6-1" name="matchDied" value="Yes"><label for="TeleRadio6-1">YES</label>
      <input class="radio-btn" type="radio" id="TeleRadio6-2" name="matchDied" value="No"><label for="TeleRadio6-2">NO</label><br>

    </div>
<!---===============================================QUALITATIVE DATA========================================-->
   


    <div class="page-header">
      <p class="MatchInfo">Qualitative Data</p>

      <form action="#0">
            <div class="spice">
             <input type="text" name="qualitativeData" class="qualitativeData" required placeholder="Qualitative Data" >
            </div>
        </form>  

     

     
      <br>
      <h1>How good was their defense?</h1>
      <center>
        <radiogroupMBackwards>
          <input class="multi" type="radio" id="TeleRadio7-1" name="defense" value="defense1"><label for="TeleRadio7-1">1</label>
          <input class="multi" type="radio" id="TeleRadio7-2" name="defense" value="defense2"><label for="TeleRadio7-2">2</label>
          <input class="multi" type="radio" id="TeleRadio7-3" name="defense" value="defense3"><label for="TeleRadio7-3">3</label>
          <input class="multi" type="radio" id="TeleRadio7-4" name="defense" value="defense4"><label for="TeleRadio7-4">4</label>
          <input class="multi" type="radio" id="TeleRadio7-5" name="defense" value="defense5"><label for="TeleRadio7-5">5</label>
          <input class="multi" type="radio" id="TeleRadio7-6" name="defense" value="defense6"><label for="TeleRadio7-6">No Defense</label><br>
        </radiogroupMbackwards>
      </center>
      

      <br>
      <h1>How good was their evasion / driving?</h1>

      <center>
        <radiogroupMBackwards>
          <input class="multi" type="radio" id="TeleRadio8-1" name="evasion" value="evasion1"><label for="TeleRadio8-1">1</label>
          <input class="multi" type="radio" id="TeleRadio8-2" name="evasion" value="evasion2"><label for="TeleRadio8-2">2</label>
          <input class="multi" type="radio" id="TeleRadio8-3" name="evasion" value="evasion3"><label for="TeleRadio8-3">3</label>
          <input class="multi" type="radio" id="TeleRadio8-4" name="evasion" value="evasion4"><label for="TeleRadio8-4">4</label>
          <input class="multi" type="radio" id="TeleRadio8-5" name="evasion" value="evasion5"><label for="TeleRadio8-5">5</label><br>
        </radiogroupMBackwards>
      </center>
      

      
    </div>

    
   {{#if isInRole 'Scouter'}}
    <input id="submitMatchData" class="btn btn-info" type="submit" value="Submit Data">
  {{/if}}
</form>
    
    </div>
  {{/if}}

  	  	
</template>
