<template name="strategy" >
 	<!--{{#if isInRole 'Viewer'}}-->

	<select id="strategySearch" class="form-control">
	    <option value="Manual">Search for Matches: Manual</option>
	    <option value="Next">Search for Matches: Next</option>
		<option value="NextIn">Search for Matches: Next In</option>
    </select>
    <br>
    <tr>
	    <td>Team Number: </td>
	    <td><input type="text" id="red1"  placeholder="Team Number Ex. 1360"></td> 
	    <td><input type="text" id="red2"  placeholder="Team Number Ex. 4946"></td>
	    <td><input type="text" id="red3"  placeholder="Team Number Ex. 1114"></td>
	    <td><input type="text" id="blue1" placeholder="Team Number Ex. 2056"></td>
	    <td><input type="text" id="blue2" placeholder="Team Number Ex. 4001"></td>
	    <td><input type="text" id="blue3" placeholder="Team Number Ex. 771"></td>
	</tr>
	<br>
	<br>

	<div>
	 	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="strategy" class="active"><a href="#auto" aria-controls="auto" role="tab" data-toggle="tab">Auto</a></li>
	    <li role="strategy"><a href="#tele" aria-controls="tele" role="tab" data-toggle="tab">Tele</a></li>
	    <li role="strategy"><a href="#end" aria-controls="end" role="tab" data-toggle="tab">Endgame</a></li>
	    <li role="strategy"><a href="#overall" aria-controls="overall" role="tab" data-toggle="tab">Overall</a></li>
	    <li role="strategy"><a href="#old" aria-controls="old" role="tab" data-toggle="tab">old</a></li>
	    <li role="strategy" style="font-weight: bold; text-align: center;"><a>Next Match Number: {{MatchNumber}}</a></li>
	    <li role="strategy" style="font-weight: bold; text-align: center;"><a>Next Match for 1360: {{MatchNumberIn}}</a></li>
	
	  </ul>
	  <br>
	 
	  <!-- Tab panes -->
	  <div class="tab-content">
	   
	    <div role="tabpanel" class="tab-pane active" id="auto">
	    	<!--                                               AUTO PANEL  FOR RED TEAMS                                          -->
	    	<br>
	    	 <div class="col-sm-9">
		      <div class="well">
		        <h4>Red Team</h4>
		        <p>Most Beneficial Auto Strategy: </p>
		        <p>{{RedStrats.Middle}}</p>
		        <p>{{RedStrats.Side}}</p>
		      </div>
		  
		      <div class="row">
		        <div class="col-sm-4">
		          <div class="well red" >
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed1}}</h4>
		          	<!--===================================== RED 1'S BOX0 -=====================================-->
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed1.advancedaverages.ChancetoHit_Baseline}}%; color: silver;">
					    Baseline: {{TeamDataRed1.advancedaverages.ChancetoHit_Baseline}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed1.advancedaverages.ChancetoHit_MiddleGear}}%; color: silver;">
					    Middle Gear: {{TeamDataRed1.advancedaverages.ChancetoHit_MiddleGear}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed1.advancedaverages.ChancetoHit_SideGear}}%; color: silver;">
					    Side Gear: {{TeamDataRed1.advancedaverages.ChancetoHit_SideGear}}%
					  </div>
					</div>
		            
		          </div>
		        </div>

		        <!--===================================== RED 2'S BOX0 -=====================================-->
		         <div class="col-sm-4">
		          <div class="well red">
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed2}}</h4>
		          	
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed2.advancedaverages.ChancetoHit_Baseline}}%; color: silver;">
					    Baseline: {{TeamDataRed2.advancedaverages.ChancetoHit_Baseline}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed2.advancedaverages.ChancetoHit_MiddleGear}}%; color: silver;">
					    Middle Gear: {{TeamDataRed2.advancedaverages.ChancetoHit_MiddleGear}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed2.advancedaverages.ChancetoHit_SideGear}}%; color: silver;">
					    Side Gear: {{TeamDataRed2.advancedaverages.ChancetoHit_SideGear}}%
					  </div>
					</div>
		            
		          </div>
		        </div>

		        <!--===================================== RED 3'S BOX0 -=====================================-->
		         <div class="col-sm-4">
		          <div class="well red">
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed3}}</h4>
		          	
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed3.advancedaverages.ChancetoHit_Baseline}}%; color: silver;">
					    Baseline: {{TeamDataRed3.advancedaverages.ChancetoHit_Baseline}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed3.advancedaverages.ChancetoHit_MiddleGear}}%; color: silver;">
					    Middle Gear: {{TeamDataRed3.advancedaverages.ChancetoHit_MiddleGear}}%
					  </div>
					</div>

					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{TeamDataRed3.advancedaverages.ChancetoHit_SideGear}}%; color: silver;">
					    Side Gear: {{TeamDataRed3.advancedaverages.ChancetoHit_SideGear}}%
					  </div>
					</div>
		            
		          </div>
		        </div>

		      </div>

		      <div class="row">
		        <div class="col-sm-8">
		          <div class="well">
		            <p>Notes for</p> 
		          </div>
		        </div>
		        <div class="col-sm-4">
		          <div class="well">
		            <p>Text</p> 
		          </div>
		        </div>
		       </div>
			 </div>
       
	    	

	    </div>

	    <div role="tabpanel" class="tab-pane" id="tele">
	    <!--                                               TELE OP PANEL  FOR RED TEAMS                                          -->
	    	<br>
	    	 <div class="col-sm-9">
		      <div class="well">
		        <h4>Red Team</h4>
		        <p>Most Beneficial Tele-Op Strategy: </p>
		        <p>{{RedStrats.Middle}}</p>
		        <p>{{RedStrats.Side}}</p>
		      </div>
		  
		      <div class="row">
		        <div class="col-sm-4">
		          <div class="well red" >
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed1}}</h4>
		          	<!--===================================== RED 1'S BOX0 -=====================================-->
		          	
		          	<div class="blop">
		          		<p>Average Gears</p>		          		
		          		{{TeamDataRed1.advancedaverages.totalGearsScoredAverage}}

		          		<p>Average Gears Dropped</p>
						{{TeamDataRed1.advancedaverages.totalGearsDroppedAverage}}


						<p>Chance to Hit 4 Gears</p>
						{{RedStrats.teleGearsNormalCDFTeam1}}

						<p>Defense rating</p>
						{{TeamDataRed1.advancedaverages.totaldefenseRating}}

						<p>Notes on {{TeamNumberRed1}}</p>
						{{TeamDataRed1.averages.qualitative}}

		          	</div>
						            
		          </div>
		        </div>

		        <!--===================================== RED 2'S BOX0 -=====================================-->
		         <div class="col-sm-4">
		          <div class="well red">
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed2}}</h4>

		          	<div class="blop">
		          		<p>Average Gears</p>
						{{TeamDataRed2.advancedaverages.totalGearsScoredAverage}}

						<p>Average Gears Dropped</p>
						{{TeamDataRed2.advancedaverages.totalGearsDroppedAverage}}

						<p>Chance to Hit 4 Gears</p>
						{{RedStrats.teleGearsNormalCDFTeam2}}

						<p>Defense rating</p>
						{{TeamDataRed2.advancedaverages.totaldefenseRating}}

						<p>Notes on {{TeamNumberRed2}}</p>
						{{TeamDataRed2.averages.qualitative}}

		          	</div>
		          		            
		          </div>
		        </div>

		        <!--===================================== RED 3'S BOX0 -=====================================-->
		         <div class="col-sm-4">
		          <div class="well red">
		          	<h4 style="font-weight: bold; text-align: center;">{{TeamNumberRed3}}</h4>
		          	
		          	<div class="blop">
		          		<p>Average Gears</p>
						{{TeamDataRed3.advancedaverages.totalGearsScoredAverage}}

						<p>Average Gears Dropped</p>
						{{TeamDataRed3.advancedaverages.totalGearsDroppedAverage}}

						<p>Chance to Hit 4 Gears</p>
						{{RedStrats.teleGearsNormalCDFTeam3}}

						<p>Defense rating</p>
						{{TeamDataRed3.advancedaverages.totaldefenseRating}}

						<p>Notes on {{TeamNumberRed3}}</p>
						{{TeamDataRed3.averages.qualitative}}
		          	</div>
						            
		          </div>
		        </div>

		      </div>

		      <div class="row">
		        <div class="col-sm-8">

		          <div class="well">
		            <p>4 Rotor</p> 
		            {{myStratChart}}

		          </div>

		        </div>





		        <div class="col-sm-4">
		          <div class="well">
		            <p>Text</p> 
		          </div>
		        </div>
		       </div>
			 </div>
	    	
	    </div>

	    <div role="tabpanel" class="tab-pane" id="end">
	    	
	    </div>

	    <div role="tabpanel" class="tab-pane" id="overall">
	    	
	    	
	    </div>

	    <div role="tabpanel" class="tab-pane" id="old">
	    <!--                                               OLD PANEL                                             -->
	  
          <div>
          		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Match Strategy</div>

		
		  <!-- Table -->
		  <table class="table">
		    <tr>
		    	<th>Value</th>
			    <th>Red 1</th>
			    <th>Red 2</th> 
			    <th>Red 3</th>
			    <th>Blue 1</th>
			    <th>Blue 2</th>
			    <th>Blue 3</th>
			</tr>

			<tr>
			    <td>Generation: </td>
			    <td>
			    	
					
			    </td> 
			    <td>Next Match Number: {{MatchNumber}}</td>
			    <td>Next Match for 1360: {{MatchNumberIn}}</td>
			    <td></td>
			    <td></td>
			    <td></td>
			</tr>

			<tr>
			    <td>Team Name: </td>
			    <td></td> 
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			</tr><br>

	

			<tr>
			    <td>Middle Gear Stats: </td>
			    <td>{{red1.AutoMiddleGear}}</td> 
			    <td>{{red2.AutoMiddleGear}}</td>
			    <td>{{red3.AutoMiddleGear}}</td>
			    <td>{{blue1.AutoMiddleGear}}</td>
			    <td>{{blue2.AutoMiddleGear}}</td>
			    <td>{{blue3.AutoMiddleGear}}</td>
			</tr>

			<tr>
			    <td>Side Gear Stats: </td>
			    <td>{{red1.AutoSideGear}}</td> 
			    <td>{{red2.AutoSideGear}}</td>
			    <td>{{red3.AutoSideGear}}</td>
			    <td>{{blue1.AutoSideGear}}</td>
			    <td>{{blue2.AutoSideGear}}</td>
			    <td>{{blue3.AutoSideGear}}</td>
			</tr>

			<tr>
			    <td>Crossed Baseline Stats: </td>
			    <td>{{red1.AutoBase}}</td> 
			    <td>{{red2.AutoBase}}</td>
			    <td>{{red3.AutoBase}}</td>
			    <td>{{blue1.AutoBase}}</td>
			    <td>{{blue2.AutoBase}}</td>
			    <td>{{blue3.AutoBase}}</td>
			</tr>

			<tr>
			    <td>KPA Stats: </td>
			    <td>{{red1.AutoKPA}}</td> 
			    <td>{{red2.AutoKPA}}</td>
			    <td>{{red3.AutoKPA}}</td>
			    <td>{{blue1.AutoKPA}}</td>
			    <td>{{blue2.AutoKPA}}</td>
			    <td>{{blue3.AutoKPA}}</td>
			</tr><br>

		

			<tr>
			    <td>Gear Average: </td>
			    <td>{{red1.gearAverage}}</td> 
			    <td>{{red2.gearAverage}}</td>
			    <td>{{red3.gearAverage}}</td>
			    <td>{{blue1.gearAverage}}</td>
			    <td>{{blue2.gearAverage}}</td>
			    <td>{{blue3.gearAverage}}</td>
			</tr>

			<tr>
			    <td>Shooting Stats: </td>
			    <td>{{red1.teleKPA}}</td> 
			    <td>{{red2.teleKPA}}</td>
			    <td>{{red3.teleKPA}}</td>
			    <td>{{blue1.teleKPA}}</td>
			    <td>{{blue2.teleKPA}}</td>
			    <td>{{blue3.teleKPA}}</td>
			</tr>

			<tr>
			    <td>Climbing Stats: </td>
			    <td>{{red1.teleClimb}}</td> 
			    <td>{{red2.teleClimb}}</td>
			    <td>{{red3.teleClimb}}</td>
			    <td>{{blue1.teleClimb}}</td>
			    <td>{{blue2.teleClimb}}</td>
			    <td>{{blue3.teleClimb}}</td>
			</tr>

			<tr>
			    <td>Died Stats: </td>
			    <td>{{red1.teleDied}}</td> 
			    <td>{{red2.teleDied}}</td>
			    <td>{{red3.teleDied}}</td>
			    <td>{{blue1.teleDied}}</td>
			    <td>{{blue2.teleDied}}</td>
			    <td>{{blue3.teleDied}}</td>
			</tr>

			<tr>
			    <td>Presto Stats: </td>
			    <td>{{red1.Presto}}</td> 
			    <td>{{red2.Presto}}</td>
			    <td>{{red3.Presto}}</td>
			    <td>{{blue1.Presto}}</td>
			    <td>{{blue2.Presto}}</td>
			    <td>{{blue3.Presto}}</td>
			</tr><br>

		
			<tr>
			    <td>Average Points: </td>
			    <td>{{red1.MAP}}</td> 
			    <td>{{red2.MAP}}</td>
			    <td>{{red3.MAP}}</td>
			    <td>{{blue1.MAP}}</td>
			    <td>{{blue2.MAP}}</td>
			    <td>{{blue3.MAP}}</td>
			</tr>

			<tr>
			    <td>Differential: </td>
			    <td></td> 
			    <td>{{redPoints}}</td>
			    <td></td>
			    <td></td>
			    <td>{{bluePoints}}</td>
			    <td></td>
			</tr>



		
		  </table>

			</div>

			

		   </div>
		  <!--{{/if}}-->
	    </div>
	    <input id="strategySearch" class="btn btn-info" type="submit" value="Generate">
	  </div>

	</div>
</template>

