<template name="teamlookup">

	 <!--{{#if isInRole 'Viewer'}}-->


          <div>
          	<input type="text" class="teamLookup" placeholder="Team Number Ex. 1360">
	
				<input id="lookupTeam" class="btn btn-info" type="submit" value="Submit">


				<!--<button class="lookupTeam">Lookup Team</button><br>-->

				
				<div id="rectangleTeamLookup">
					

					<!--Show the calculated averages in a table-->

					<div class="panel panel-primary">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Team Stats</div>

					  <!-- Table -->
					  <table class="table">
					    <tr>
						    <th>AUTO</th>
						    <th>Stat</th> 
						    <th>TELE-OP</th>
						    <th>Stat</th>
						    <th>ENDGAME</th>
						    <th>Stat</th>

						</tr>

						<tr>
						    <td>Auto Switch Percentage:</td>
						    
						    <td>
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.autoSwitchSuccessAvg}}%; color: silver;">
								    {{Teamlookup.advancedaverages.autoSwitchSuccessAvg}}%
								  </div>
								</div>
						    </td> 


						    <td>Scale Cubes Avg: </td>
						    <td>{{Teamlookup.advancedaverages.ScaleCubeAvg}} / {{Teamlookup.advancedaverages.ScaleDropAvg}}</td>

						    <td>Park Avg</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:  {{Teamlookup.advancedaverages.ParkAvg}}%; color: silver;">
								     {{Teamlookup.advancedaverages.ParkAvg}}%
								  </div>
								</div>
						   </td>
						</tr>

						<tr>
						    <td>Auto Scale Percentage:</td>
						    <td>
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.autoScaleSuccessAvg}}%; color: silver;">
								    {{Teamlookup.advancedaverages.autoScaleSuccessAvg}}%
								  </div>
								</div>
						    </td> 


						    <td>Switch Cubes Avg:</td>
						    <td>{{Teamlookup.advancedaverages.SwitchCubeAvg}} / {{Teamlookup.advancedaverages.SwitchDropAvg}}</td>

						    <td>Bots Climbed Avg</td>
						    <td>{{Teamlookup.advancedaverages.BotsClimbedAvg}}</td>
						</tr>

						<tr>
						    <td>Crossed Baseline Stats:</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.BaselineAvg}}%; color: silver;">
								    {{Teamlookup.advancedaverages.BaselineAvg}}%
								  </div>
								</div>
						    </td> 
						    <td>Vault Cubes Avg:</td>
						    <td>{{Teamlookup.advancedaverages.VaultCubeAvg}}</td>

						    <td>Climb Speed Avg</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.climbSpeed}}%; color: silver;">
								    {{Teamlookup.advancedaverages.climbSpeed}}%
								  </div>
								</div>
							</td>
						</tr>

						<tr>
						    <td>Auto Switch Cubes Avg:</td>
						    <td>{{Teamlookup.advancedaverages.autoSwitchAvg}}</td> 
						    <td>Switch Speed Avg:</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.SwitchSpeed}}%; color: silver;">
								   {{Teamlookup.advancedaverages.SwitchSpeed}}%
								  </div>
								</div>
						    </td>
						    <td>Climb Success Avg:</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.climbSuccessRate}}%; color: silver;">
								    {{Teamlookup.advancedaverages.climbSuccessRate}}%
								  </div>
								</div>
							</td>
						</tr>

						<tr>
						    <td>Auto Scale Cubes Avg:</td>
						    <td>{{Teamlookup.advancedaverages.autoScaleAvg}}</td> 
						    <td>Scale Speed Avg:</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.ScaleSpeed}}%; color: silver;">
								   {{Teamlookup.advancedaverages.ScaleSpeed}}%
								  </div>
								</div>
							</td>
						    <td>Died Stats:</td>
						    <td>
						    	<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{Teamlookup.advancedaverages.teleDiedAvg}}%; color: silver;">
								   {{Teamlookup.advancedaverages.teleDiedAvg}}%
								  </div>
								</div>
							</td>
						</tr>

						<tr>
						    <td></td>
						    <td></td> 
						    <td></td>
						    <td></td>
						    <td></td>
						    <td></td>
						</tr>

						<tr>
						    <td>Evasion Rating: </td>
						    <td>{{Teamlookup.advancedaverages.evasionRating}}</td> 
						    <td>Defense Rating:</td>
						    <td>{{Teamlookup.advancedaverages.defenseRating}}</td>
						    <td></td>
						    <td></td>
						</tr>


					  </table>

				</div>
								
					{{> c3 myChartData}}

				</div>
			          
          </div>
     <!--{{/if}}-->
     
     {{Teamlookup.averages.qualitative}} 
	<img src={{TeamPicture}}>
	
</template>	

