$min-w: 800px;
$max-w: 1200px;
$label-h: 5em;

* {
	margin: 0;
	font: inherit;
}

body {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	
	

	
}



radiogroupM {
	display: flex;
	overflow: hidden;
	width: 97.5%;
	min-width: $min-w;
	max-width: $max-w;
	border-radius: 0.5*$label-h;
	background: linear-gradient(
		var(--a, 100deg),
		#0ef49b,
		#d2dc69 30%,
		#faa04b 70%,
		#ff5a64
	);

	@media (max-width: $min-w) {
		flex-direction: column;
		min-width: 12.5rem;
		width: 47%;
		--a: 170deg;
		font-size: 0.875rem;
	}
}

input[type="radioM"] {
	position: absolute;
	left: -100vw;

	+ label {
		flex: 1;
		height: $label-h;
		font-weight: 700;
		line-height: $label-h;
		text-align: center;
		text-transform: capitalize;
		cursor: pointer;

		&:after {
			display: inline-block;
			transform: scale(0);
			filter: brightness(0.1);
			transition: margin 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.1s,
				transform 0.25s cubic-bezier(0.895, 0.03, 0.685, 0.22);
			content: "\2714";
		}
	}

	&:checked + label {
		box-shadow: inset 0px 10px 50px rgba(25, 25, 25, 0.1);

		&:after {
			margin-left: 0.75em;
			transform: scale(1.25);
			transition: margin 0.5s,
				transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s;
		}
	}
}


.btn{
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radioYN"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 60px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background: #1a1a1a;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}