

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

$min-w: 800px;
$max-w: 1200px;
$label-h: 5em;



body {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	
	

	
}



radiogroupM {
	display: flex;
	overflow: hidden;
	width: 97.5%;
	min-width: $min-w;
	max-width: $max-w;
	border-radius: 0.5*$label-h;
	background: linear-gradient(
		var(--a, 100deg),
		#0ef49b,
		#d2dc69 30%,
		#faa04b 70%,
		#ff5a64
	);

	@media (max-width: $min-w) {
		flex-direction: column;
		min-width: 12.5rem;
		width: 47%;
		--a: 170deg;
		font-size: 0.875rem;
	}
}

radiogroupMBackwards {
  display: flex;
  overflow: hidden;
  width: 97.5%;
  min-width: $min-w;
  max-width: $max-w;
  border-radius: 0.5*$label-h;
  background: linear-gradient(
    var(--a, 300deg),
    #0ef49b,  
    #d2dc69 30%,
    #faa04b 70%,
    #ff5a64
    
    
  );

  @media (max-width: $min-w) {
    flex-direction: column;
    min-width: 12.5rem;
    width: 47%;
    --a: 170deg;
    font-size: 0.875rem;
  }
}

input[class="multi"] {
  position: absolute;
  left: -100vw;

  + label {
    flex: 1;
    height: $label-h;
    font-weight: 700;
    line-height: $label-h;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

    &:after {
      display: inline-block;
      transform: scale(0);
      filter: brightness(0.1);
      transition: margin 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.1s,
        transform 0.25s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      content: "\2714";
    }
  }

  &:checked + label {
    box-shadow: inset 0px 10px 50px rgba(25, 25, 25, 0.1);

    &:after {
      margin-left: 0.75em;
      transform: scale(1.25);
      transition: margin 0.5s,
        transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s;
    }
  }
}






$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; 


/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}



input[class ='YN'] {

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    
    
    &:focus{
		outline:0;
    }
    
    &:after {
        font-family: 'FontAwesome';
        display: inline-block;
        text-align: center;
        font-size: 80px;
        content: attr(data-icon);
        padding: 20px 20px;
        border-radius: 15px;
        color: rgba(0,0,0,.4);
        transition: box-shadow 1s, color 1s;
    }

    &:not(:checked) {
        box-shadow: 2px 2px 14px rgba(0,0,0,.4);
        border-radius: 15px;
    }

    &:checked {
        &:after {
            box-shadow: 2px 2px 14px rgba(0,0,0,.4);
            color: rgba(255,255,255,.6);
        }
    }
}

form {
    
  margin: 0 auto;
  
  // positioning context
  > div.spice {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
    
    // Looks like placeholder
    > label {
      opacity: 0.3;
      font-weight: bold;
      position: absolute;
      
    }
    
    > input[type="text"] {
      
      border: 0;
      padding: 20px 20px 20px 50px;
      background: #eee;
      
      &:focus {
        
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;
        
        & + label {
          opacity: 0;
        }
      }
      
      &:valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
      
    }
    
    .requirements {
      padding: 0 30px 0 50px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: red;
      font-style: italic;
    }
    
  }
  
  
  
}