$min-w: 800px;
$max-w: 1200px;
$label-h: 5em;

* {
	margin: 0;
	font: inherit;
}

body {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	
	

	
}



radiogroupP {
	display: flex;
	overflow: hidden;
	width: 97.5%;
	min-width: $min-w;
	max-width: $max-w;
	border-radius: 0.5*$label-h;
	background: linear-gradient(
		var(--a, 100deg),
		#0ef49b,
		#d2dc69 30%,
		#faa04b 70%,
		#ff5a64
	);

	@media (max-width: $min-w) {
		flex-direction: column;
		min-width: 12.5rem;
		width: 47%;
		--a: 170deg;
		font-size: 0.875rem;
	}
}

input[type="radioP"] {
	position: absolute;
	left: -100vw;

	+ label {
		flex: 1;
		height: $label-h;
		font-weight: 700;
		line-height: $label-h;
		text-align: center;
		text-transform: capitalize;
		cursor: pointer;

		&:after {
			display: inline-block;
			transform: scale(0);
			filter: brightness(0.1);
			transition: margin 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.1s,
				transform 0.25s cubic-bezier(0.895, 0.03, 0.685, 0.22);
			content: "\2714";
		}
	}

	&:checked + label {
		box-shadow: inset 0px 10px 50px rgba(25, 25, 25, 0.1);

		&:after {
			margin-left: 0.75em;
			transform: scale(1.25);
			transition: margin 0.5s,
				transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s;
		}
	}
}


$color-1: #2ecc71;
$color-2: #3498db;
$color-3: #f1c40f;
$color-4: #e74c3c;

.colors1 {
      background-color: $color-1;
    }
.custom-radios {
  
  div {
    display: inline-block;
  }

  input[type="radioD"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
    
        img {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

   

    &#color-2 + label span {
      background-color: $color-2;
    }

    &#color-3 + label span {
      background-color: $color-3;
    }

    &#color-4 + label span {
      background-color: $color-4;
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}